{% extends "base.html" %}
{% block title %}Sleep{% endblock %}
{% block content %}

<div class="flex flex-col items-center justify-center min-h-[80vh] relative"> 
    <!-- Background shapes -->
    <div class="h-[250px] w-[560px] bg-[#d5caa1] rounded-[50%] absolute z-0 top-1/2 -translate-y-[60%] filter blur-[1px]"></div>
    <div class="h-[300px] w-[580px] bg-[#d5caa1] rounded-[50%] absolute z-0 opacity-30 top-1/2 -translate-y-[50%] filter blur-[10px]"></div>
    <div class="absolute z-0 opacity-50 w-0 h-0 
                border-l-[270px] border-l-transparent
                border-r-[270px] border-r-transparent
                border-b-[400px] border-b-[#d5caa1]
                top-1/2 left-1/2 -translate-x-1/2 -translate-y-[110%] filter blur-[10px]"></div>

    <div class="text-center max-w-2xl z-10"> <!-- z index to container changed. -->
        <h1 class="text-8xl mb-28">Sleep</h1>
        <p class="text-lg mt-20 text-[#4c497e]"><br>
            Create a profile to store your records.<br>
            Upload your sleep data to discover patterns.<br>
            Gain insights on your sleep and mood.<br><br><br>
        </p>
        <br><br><br>
        <div class="my-12">
            <button id="upload_button" onclick="openPopup()" class="bg-button text-secondary text-2xl font-bold py-4 px-8 rounded-full 
                         hover:bg-opacity-90 transition duration-200 shadow-lg">
                Upload Sleep Data ⬆
            </button>
        </div>

        {% include "partials/form_popup.html" %}
    </div>
</div>
<script src="{{ url_for('static', filename='js/sleep.js') }}"></script>
{% endblock %}