<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sleep Tracker</title>
    {% include 'partials/tailwind_config.html' %}
  </head>
</html>

<body
  class="flex bg-primary text-white font-sans min-h-screen items-center justify-center"
>
  <div>
    <h1 class="text-4xl font-bold mb-6 text-center">
      Welcome to Sleep Tracker
    </h1>

    <p class="text-md text-center">
      Get insights into your sleep patterns, build better habits, and feel more
      energised every day.
    </p>

    <div class="flex space-x-4 my-12 justify-center">
      <a href="{{ url_for('signup') }}">
        <button
          class="bg-button text-secondary text-2xl font-bold min-w-[11rem] py-4 px-8 rounded-full hover:bg-opacity-90 transition duration-200 shadow-lg"
        >
          Sign Up
        </button>
      </a>

      <a href="{{ url_for('login') }}">
        <button
          class="bg-button text-secondary text-2xl font-bold min-w-[11rem] py-4 px-8 rounded-full hover:bg-opacity-90 transition duration-200 shadow-lg"
        >
          Log In
        </button>
      </a>
    </div>
  </div>
</body>
